<div class="bg-white  w-1/4 mx-auto rounded-lg my-20 px-4 py-6 shadow-lg">
  <form action="/register" method="POST">
    <%if(messages.error){%>
    <span class="text-sm text-red-400"><%=messages.error%></span>
    <%}%>
    <input type='text' placeholder="Enter Your Name" name="name" value="<%=messages.name%>"
        class="w-full mb-3 px-4 py-3 border rounded-full text-gray-700 focus:outline-none focus:border-red-300" />
    <input type='email' placeholder="Enter your email" name="email" value="<%=messages.email%>"
        class="w-full mb-3 px-4 py-3 border rounded-full text-gray-700 focus:outline-none focus:border-red-300" />
    <input type='password' placeholder="Password" name="password"
        class="w-full mb-3 px-4 py-3 border rounded-full text-gray-700 focus:outline-none focus:border-red-300" />
        <button type="submit" class="w-full primarybutton rounded-full py-3 text-sm font-semibold  mr-2 mb-2">Register</button>
    
    <hr class="mt-3">
    <div class="flex justify-center mt-5">
        <a href="/login" class="w-1/2 primarybutton rounded-full py-3 
        text-sm font-semibold text-center">Login</a>
    </div>
 </form>
</div>