<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <nav>
        <div class="container mx-auto flex items-center justify-between py-5"> 
        <div class="logo">
            <img src="/img/logo.png" alt="Company logo">
         </div>
        <div class="list">
            <ul class="flex items-center">
                <li class="ml-10"><a href="#">Offer</a></li>
                <li class="ml-10"><a href="#">Register</a></li>
                <li class="ml-10"><a href="#">Login</a></li>
                <li class="ml-10"><a href="#">Offer</a></li>
                <li class="ml-10"><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </div>
        </div>
    </nav>

    <section class="slider">
        <div class="container mx-auto flex items-center justify-between py-16">
            <div class="left w-1/2">
                <h4 class="text-lg font-bold" >Break it to Eat it</h4>
                <h1 class="text-5xl font-bold">Baked with a love</h1>
                <button class="inline-block rounded-full my-6 px-6 py-3 text-sm font-semibold text-gray-700 mr-2 mb-2">Order It Now</button>
            </div>
            <div class="Right w-1/2 ">
                <img src="/img/herocake.png" alt="hero-img" width="85%"> 
            </div>
        </div>
    </section>

    <section class="menu py-10">
        <h1 class="font-bold text-4xl text-center">Order Cakes</h1>
        <div class="container mx-auto grid grid-cols-4">
            <div class="p-10">  
                <!--Card 1-->
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                  <img class="w-full" src="/img/cake.jpg" alt="cake">
                  <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2 text-center">Mountain</div>
                    <p class="text-gray-500 text-base text-center">
                      small
                    </p>
                    <h2 class="text-center px-3 py-3 text-xl font-semibold text-gray-700"> ₹ 350</h2>
                    <button class="w-full inline-block text-center  rounded-full px-8  py-1 text-sm font-semibold text-gray-700 mb-2">Add</button>
                  </div>
                  
                </div>
            </div>

            <div class="p-10">  
                <!--Card 1-->
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                  <img class="w-full" src="/img/cake.jpg" alt="cake">
                  <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2 text-center">Mountain</div>
                    <p class="text-gray-500 text-base text-center">
                      small
                    </p>
                    <h2 class="text-center px-3 py-3 text-xl font-semibold text-gray-700"> ₹ 350</h2>
                    <button class="w-full inline-block text-center  rounded-full px-8  py-1 text-sm font-semibold text-gray-700 mb-2">Add</button>
                  </div>
                  
                </div>
            </div>

            <div class="p-10">  
                <!--Card 1-->
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                  <img class="w-full" src="/img/cake.jpg" alt="cake">
                  <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2 text-center">Mountain</div>
                    <p class="text-gray-500 text-base text-center">
                      small
                    </p>
                    <h2 class="text-center px-3 py-3 text-xl font-semibold text-gray-700"> ₹ 350</h2>
                    <button class="w-full inline-block text-center  rounded-full px-8  py-1 text-sm font-semibold text-gray-700 mb-2">Add</button>
                  </div>
                  
                </div>
            </div>

            <div class="p-10">  
                <!--Card 1-->
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                  <img class="w-full" src="/img/cake.jpg" alt="cake">
                  <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2 text-center">Mountain</div>
                    <p class="text-gray-500 text-base text-center">
                      small
                    </p>
                    <h2 class="text-center px-3 py-3 text-xl font-semibold text-gray-700"> ₹ 350</h2>
                    <button class="w-full inline-block text-center  rounded-full px-8  py-1 text-sm font-semibold text-gray-700 mb-2">Add</button>
                  </div>
                  
                </div>
            </div>

            <div class="p-10">  
                <!--Card 1-->
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                  <img class="w-full" src="/img/cake.jpg" alt="cake">
                  <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2 text-center">Mountain</div>
                    <p class="text-gray-500 text-base text-center">
                      small
                    </p>
                    <h2 class="text-center px-3 py-3 text-xl font-semibold text-gray-700"> ₹ 350</h2>
                    <button class="w-full inline-block text-center  rounded-full px-8  py-1 text-sm font-semibold text-gray-700 mb-2">Add</button>
                  </div>
                  
                </div>
            </div>
            
            <div class="p-10">  
                <!--Card 1-->
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                  <img class="w-full" src="/img/cake.jpg" alt="cake">
                  <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2 text-center">Mountain</div>
                    <p class="text-gray-500 text-base text-center">
                      small
                    </p>
                    <h2 class="text-center px-3 py-3 text-xl font-semibold text-gray-700"> ₹ 350</h2>
                    <button class=" w-full inline-block text-center  rounded-full px-8  py-1 text-sm font-semibold text-gray-700 mb-2">Add</button>
                  </div>
                  
                </div>
            </div>

            <div class="p-10">  
                <!--Card 1-->
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                  <img class="w-full" src="/img/cake.jpg" alt="cake">
                  <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2 text-center">Mountain</div>
                    <p class="text-gray-500 text-base text-center">
                      small
                    </p>
                    <h2 class="text-center px-3 py-3 text-xl font-semibold text-gray-700"> ₹ 350</h2>
                    <button class=" w-full inline-block text-center  rounded-full px-8  py-1 text-sm font-semibold text-gray-700 mb-2">Add</button>
                  </div>
                  
                </div>
            </div>

            <div class="p-10">  
                <!--Card 1-->
                <div class="max-w-sm rounded overflow-hidden shadow-lg">
                  <img class="w-full" src="/img/cake.jpg" alt="cake">
                  <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2 text-center">Mountain</div>
                    <p class="text-gray-500 text-base text-center">
                      small
                    </p>
                    <h2 class="text-center px-3 py-3 text-xl font-semibold text-gray-700"> ₹ 350</h2>
                    <button class="inline-block text-center w-full  rounded-full px-8  py-1 text-sm font-semibold text-gray-700 mb-2">Add</button>
                  </div>
                  
                </div>
            </div>
        </div>
    </section>
    <script src="/js/client.js"></script>
</body>
</html>