$links-body:#FFF0F3;
$primary:#FFB3C1;
$body:#fff;
$secondary:#FF4D6D;
$font:#FF758F;
$background:#FEFFF6;
$primary-nav:#FF758F;
$second:#84C3C8;
$dark:#42929D;
$ordersection:#F4F4E1;
$button:#FF758F;
$items:#FF4D6D;
$lightstatus:#ffaaba;
$currentItems:#ac0523;